{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12" style="font-weight:bold; font-size:24px;">
        공지사항
    </div>
</div>

<div class="row" style="margin-top:-20px;">
	<div class="col-12 ml-0 mr-0" style="background-color:#000000; height: 1px; flex: 1; margin:25px;"></div>
</div>
{{ object.title }}<br>
{{ object.author }} | {{ object.created|date:'Y-m-d H:i' }}
<div class="row">
	<div class="col-12 ml-0 mr-0" style="background-color:#acacac; height: 1px; flex: 1; margin:25px;"></div>
</div>

<form>
    <div class="row mt-3">
        <div class="col-sm-12">
            제목 <input type="text" class="form-control" value="{{ object.title }}" readonly="false" style="background-color:#FFFFFF;">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-9">
            작성자 <input type="text" class="form-control" value="{{ object.author }}" readonly="True" style="background-color:#FFFFFF;">
        </div>
        <div class="col-sm-3" style="text-align:center;">
            생성날짜 <input type="text" class="form-control" value="{{ object.created|date:'Y-m-d H:i' }}" readonly="True" style="background-color:#FFFFFF;text-align:center;">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            공지내용 <textarea class="form-control" style="resize:none;" readonly="True" style="background-color:#FFFFFF;">{{ object.text }}</textarea>
        </div>

    </div>
</form>

<br/>
{% if user.is_authenticated %}
    <a href="{% url 'info:update' pk=object.id %}" class="btn btn-outline-success btn-sm float-right">Update</a>
    <a href="{% url 'info:delete' pk=object.id %}" class="btn btn-outline-danger btn-sm float-right">Delete</a>
{% endif %}

{% endblock %}